# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.swp

# Miscellaneous
.DS_Store
Thumbs.db
